.inner-wrapper {
    width: 10px;
    height: 10px;
    border: 1px solid red;
}

.menu-header-wrapper {
    background-color: #3f51b5;
    display: flex;
    justify-content: space-between;
}

table, th, td {
    border: 1px solid black;
}